
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$navbar-font: #E5E9F2;
$navbar-color: #20A0FF;

.navbar {
    margin-bottom: 100px;
}

.navbar-default {
    border-radius: 0;
    border: 0;
    .nav {
        color: #fff;
    }
}
.navbar-inverse {
    background: $navbar-color;
    .navbar-nav {
        li {
            a {
                color: $navbar-font;
                outline: none;
                cursor: pointer;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .navbar-brand {
        color: $navbar-font;
        font-weight: bold;
        &:hover {
            color: #fff;
        }
    }
}





.user_info {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gravatar {
    border-radius: 50%;
    max-width: 70px;
}

.footer {
    color: #8492A6;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
    ul {
        li {
            margin: 0 10px;
        }
    }
}
