
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

//自定义变量
@import "custom";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
    transform: translateX(10px);
    opacity: 0;
}


.list-enter-active, .list-leave-active {
    transition: all 1s;
}
.list-enter, .list-leave-active {
    opacity: 0;
    transform: translateX(30px);
}

.dropdown-menu {
    padding: 0;
    li a {
        text-align: center;
        padding: 5px 0;
    }
    li a.btn {
        border-radius: 0;
        color: white;
        &:hover {
            background: red;
        }
    }
}



.statuses-post {
    margin-bottom: 50px;
    form textarea {
        margin-bottom: 10px;
        resize: none;
        height: 150px;
    }
}

.statuses-box, .statuses {
    padding-left: 0;
    margin-bottom: 30px;
    li {
        margin-top: 0;
        padding: 0px 10px 20px;
        border-bottom: 1px solid #ddd;
        position: relative;
        transition: all 1s ease;
        &:hover {
            background: #fefefe;
        }
        button {
            display: none;
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
}



.stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
        float: left;
        padding: 0 10px;
        text-align: center;
        width: 33%;
        border-left: 1px solid $gray-lighter;
        color: gray;
        &:first-child {
            padding-left: 0;
            border: 0;
        }
        &:hover {
            text-decoration: none;
            color: #337ab7;
        }
    }
    strong {
        display: block;
        font-size: 1.2em;
        color: black;
    }
}
#follow_form {
    display: block;
    margin: 20px 0;
}



.users {
    list-style: none;
    margin: 0;
    padding-left: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}
.delete-btn {
    float: right;
    position: relative;
    right: 0;
}


.user_info {
    text-align: center;
}


.footer {
    color: #8492A6;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 30px;
    ul {
        li {
            margin: 0 10px;
        }
    }
}
